{% extends "asa_travel/base.html" %}

{% block content %}

<div class="container mt-4">
  <h1 class="text-center">{{ accommodation.aaccommodation_name }}</h1>

  <!-- Imagen principal -->
  <div class="text-center mb-4">
    <img src="{{ accommodation.accommodation_image.url }}" alt="Imagen principal" class="img-fluid rounded" />
  </div>

  <!-- Rating (si aplica) -->
  {% if accommodation.accommodation_rating %}
  <div class="text-center mb-3">
    <h4>Rating: ⭐ {{ accommodation.accommodation_rating }}</h4>
  </div>
  {% endif %}

  <!-- Descripción -->
  <div class="mb-4">
    <p>{{ accommodation.accommodation_description }}</p>
  </div>

  <!-- Precios -->
  <div class="text-center mb-4">
    <h4>Precio por noche: ${{ accommodation.accommodation_price_per_night }}</h4>
  </div>

  <div class="text-center mb-4">
    <h4>Tipo: ${{ accommodation.accommodation_type }}</h4>
  </div>


  <!-- Mapa -->
  {% if accommodation.accommodation_map_url %}
  <div class="mb-4">
    <iframe src="{{ accommodation.accommodation_map_url }}" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  {% endif %}

  <!-- Sitio web -->
  {% if accommodation.accommodation_website %}
  <div class="text-center">
    <a href="{{ accommodation.accommodation_website }}" class="btn btn-primary" target="_blank">Ir al sitio</a>
  </div>
  {% endif %}
</div>

{% endblock %}